body {
  background-color: #aaaaaa; }

a {
  color: #ff9500; }

div#content {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin: 10px; }

form#new-item-form {
  background-image: url("../img/tarmac.png");
  background-repeat: repeat;
  height: 80px; }

header {
  background-image: url("../img/desert1a.png");
  height: 100px; }
  header h1 {
    font-family: Times New Roman, serif;
    font-size: 48px;
    line-height: 90px;
    color: #a66100;
    display: inline;
    margin-left: 0.5em; }
  header h2 {
    color: #fff; }
  header nav {
    float: right;
    margin-right: 30px;
    padding: 0;
    border: 0;
    position: relative; }
    header nav ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      header nav ul li {
        display: inline; }
        header nav ul li a {
          font-weight: bold;
          color: #a66100; }

label {
  display: inline-block;
  width: 80px;
  text-align: right;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 4px;
  color: white; }

#action-in {
  width: 79%; }

#category-in {
  width: 60%; }

#quantity-in {
  width: 5em; }

#units-in {
  width: 10em; }

.default-button {
  background: #a66100 url(../img/alert-overlay.png) repeat-x;
  float: right;
  display: inline-block;
  margin-left: 100px;
  /*		margin-right: 10%;	*/
  padding: 5px 10px 6px;
  color: #ff9500;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer; }
  .default-button:hover {
    background-color: #ff9500;
    color: #a66100; }

a#nxt-page {
  color: black;
  display: inline-block;
  float: right; }

a#pre-page {
  color: black; }

div#list-table {
  border: 0;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 15px; }

.item-delete {
  width: 16px;
  height: 16px; }

img#del-img {
  width: 12px;
  height: 12px; }

div.activity-row {
  width: 100%; }

.th-bg {
  font-size: 16px;
  line-height: 24px; }

.tb-bg {
  font-size: 14px;
  line-height: 24px; }

div.inner-row:nth-child(odd) .tb-bg {
  background-color: #fff; }

div.inner-row:nth-child(even) .tb-bg {
  background-color: #aaaaaa; }

.padded-col, .col_activity, .col_category, .col_quantity, .col_timestamp, .col_buttons, #td-quantity-edit, #td-units-edit {
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 4px;
  display: inline-block; }

.col_activity {
  width: 37%; }

.col_category {
  width: 25%; }

.col_quantity {
  width: 13%; }

.col_timestamp {
  width: 125px; }

.col_buttons {
  width: 15px; }

#td-quantity-edit {
  width: 5%; }

#td-units-edit {
  width: 5%; }

.update-on-enter {
  width: 100%; }

div#chart-menu {
  float: none;
  width: 200px; }

div#plots {
  margin-left: 0px; }

h3.chartTitle a {
  color: black;
  font-size: 10px;
  text-decoration: none; }
