	$bright-orange: #FF9500;
	$light-orange: #ffc573;
	$dark-brown: #a66100;
	$palegrey: #aaa;

	body {
		background-color: $palegrey;
	}

	a {
		color: $bright-orange;
	}

	div#content {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: #000;
		margin: 10px;
	}

	form#new-item-form {
		background-image: url("../img/tarmac.png");
		background-repeat: repeat;
		height: 80px;
	}

	header {
		background-image: url("../img/desert1a.png");
		height: 100px;

	 	h1 {
			font-family: Times New Roman, serif;
			font-size: 48px;
			line-height: 90px;
			color: $dark-brown;
			display: inline;
			margin-left: 0.5em;
		}
	
		h2 {
			color: #fff;
		}
	}

	img#logo {
		display: inline;
		width: 200px;
		height: 80px;
		margin-top: 10px;
		margin-right: 10px;
		float: right;
	}

	label {
		display: inline-block;
		width: 80px;
		text-align: right;
		border: 0;
		padding: 0;
		margin: 0;
		margin-right: 4px;
		color: white;
	}

	#action-in {
		width: 79%;
	}

	#category-in {
		width: 60%;
	}

	#quantity-in {
		width: 5em;
	}

	#units-in {
		width: 10em;
	}

	.default-button {
		background: $dark-brown url(../img/alert-overlay.png) repeat-x;
		float: right; 
		display: inline-block;
		margin-left: 100px;
/*		margin-right: 10%;	*/
		padding: 5px 10px 6px;
		color: $bright-orange;
		text-decoration: none;
		font-weight: bold;
		line-height: 1;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		border-bottom: 1px solid rgba(0,0,0,0.25);
		position: relative;
		cursor: pointer;
	
		&:hover {
			background-color: $bright-orange;
			color: $dark-brown;
		}
	}
	
	a#nxt-page {
		display: inline-block;
		float:right;
	}
	
	a#prv-page {
		
	}


	div#list-table {
		border: 0;
		padding: 0;
		margin-right: 0;
		margin-bottom: 0;
		margin-top: 1em;
		margin-left: 85px;
	}

	.item-delete {
		width: 16px;
		height: 16px;
	}
	
	img#del-img {
		width: 12px;
		height: 12px;
	}

	div.activity-row {
		width: 100%;
	}

	.th-bg {
		background-image: url("../img/tarmac.png");	
		font-size: 16px;
		line-height: 24px;
	}

	.tb-bg {
		// background-image: url("../img/palebrownwall.png");
		font-size: 14px;
		min-height: 24px;
	}
	
	div.inner-row {
		:nth-child(odd) {
			background-color: #fff;
		}
		:nth-child(even) {
			background-color: $palegrey;
		}
	}

	.padded-float {
		margin: 0;
		padding-left: 4px;
		float: left; 
	}

	.col_activity { 
		@extend .padded-float;
		width: 40%;
	} 

	.col_category { 
		@extend .padded-float;
		width: 25%; 
	} 
	.col_quantity { 
		@extend .padded-float;
		width: 12%;
	} 
	.col_timestamp { 
		@extend .padded-float;
		width: 13%;
	} 

	#td-quantity-edit { 
		@extend .padded-float;
		width: 5%;
	}

	#td-units-edit { 
		@extend .padded-float;
		width: 5%;
	}

	.update-on-enter {
		width: 100%;
	}

	.col_buttons { 
		@extend .padded-float;
		width: 6%; 
		background-color: $palegrey;
	}
