	$bright-orange: #FF9500;
	$light-orange: #ffc573;
	$dark-brown: #a66100;
	$palegrey: #aaa;

	body {
		background-color: $palegrey;
	}

	a {
		color: $bright-orange;
	}

	h2 {
		font-size: 18px;
	}

	div#bulk_entry {
		position: absolute;
		left: 100px;
		top: 100px;
		display: none;
		background: white;
		border: solid black 1px;
	}
	
	span#bulk_close {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		img {
			height: 20px;
			width: 20px;
		}
	}

	div#content {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: #000;
		margin: 10px;
	}

	form#new-item-form {
		background-image: url("../img/tarmac.png");
		background-repeat: repeat;
		height: 80px;
	}

	header {
		background-image: url("../img/desert1a.png");
		height: 100px;

	 	h1 {
			font-family: Times New Roman, serif;
			font-size: 48px;
			line-height: 90px;
			color: $dark-brown;
			display: inline;
			margin-left: 0.5em;
		}
	
		h2 {
			color: #fff;
		}
		
		.login {
			position: absolute;
			top: 10px;
			font-size: 10px;
			left: 20px;
		}
		
		nav {
			float: right;
			margin-right: 30px;
			padding: 0;
			border: 0;
			position: relative;
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					display: inline;
					a {
						font-weight: bold;
						color: $dark-brown;
					}
				}
			}
		}
	}

	label {
		display: inline-block;
		width: 80px;
		text-align: right;
		border: 0;
		padding: 0;
		margin: 0;
		margin-right: 4px;
		color: white;
	}

	#action-in {
		width: 79%;
	}

	#category-in {
		width: 60%;
	}

	#quantity-in {
		width: 5em;
	}

	#units-in {
		width: 10em;
	}
	
	.nice-button {
		background: $dark-brown url(../img/alert-overlay.png) repeat-x;
		display: inline-block;
		margin-left: 100px;
/*		margin-right: 10%;	*/
		padding: 5px 10px 6px;
		color: $bright-orange;
		text-decoration: none;
		font-weight: bold;
		line-height: 1;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		border-bottom: 1px solid rgba(0,0,0,0.25);
		position: relative;
		cursor: pointer;
	
		&:hover {
			background-color: $bright-orange;
			color: $dark-brown;
		}
	}
	
	.default-button {
		@extend .nice-button
	}

	button#add-button {
		float: right;
	}
	
	a#nxt-page {
		color: black;
		display: inline-block;
		float:right;
	}
	
	a#pre-page {
		color: black;		
	}

	button#calc-daily {
	}

	div#list-table {
		border: 0;
		padding: 0;
		margin-right: 15px;
		margin-bottom: 0;
		margin-top: 5px;
		margin-left: 15px;
	}

	.item-delete {
		width: 16px;
		height: 16px;
	}
	
	img#del-img {
		width: 12px;
		height: 12px;
	}

	div.activity-row {
		width: 100%;
	}

	.th-bg {
		font-size: 16px;
		line-height: 24px;
	}

	.tb-bg {
		font-size: 14px;
		line-height: 24px;
	}
	
	div.inner-row:nth-child(odd) .tb-bg{
		background-color: #fff;
	}
	div.inner-row:nth-child(even) .tb-bg{
		background-color: $palegrey;
	}

	.padded-col {
		margin: 0;
		padding: 0;
		border: 0;
		padding-left: 4px;
		display: inline-block; 
	}

	.col_activity { 
		@extend .padded-col;
		width: 37%;
	} 

	.col_category { 
		@extend .padded-col;
		width: 25%; 
	} 
	.col_quantity { 
		@extend .padded-col;
		width: 13%;
	} 
	.col_timestamp { 
		@extend .padded-col;
		width: 125px;
	} 

	.col_buttons { 
		@extend .padded-col;
		width: 15px;
	}

	#td-quantity-edit { 
		@extend .padded-col;
		width: 5%;
	}

	#td-units-edit { 
		@extend .padded-col;
		width: 5%;
	}

	.update-on-enter {
		width: 100%;
	}
	
	div#bottom {
		footer {
			margin-top: 2em;
			font-size: 10px;
		}
	}
	
	div#chart-menu {
		float: none;
		width: 200px;
	}
	
	div#plots {
		margin-left: 0px;
		
		#series {
			float: left;
			width: 100px;
			font-size: 10px;
			li {
				display: block;
				line-height: 20px;
				height: 20px;
				list-style: none;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		#plot-area {
			float: left;
			height: 400px;
			width: 1000px;
		}
	}
	
	h3.chartTitle a{
		color: black;
		font-size: 10px;
		text-decoration: none;
	}

div#cat-change, div#act-change {
	width: 100%;
	span {
		display: inline-block;
		width: 25%;

	}
	label {
		width: 50%;
	}
}