body {
  background-color: #aaaaaa; }

a {
  color: #ff9500; }

div#content {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  margin: 10px; }

header h1 {
  font-family: Times New Roman, serif;
  font-size: 24px;
  color: #a66100;
  display: inline;
  margin-left: 0.5em; }
header h2 {
  color: #fff; }
header .login {
  position: absolute;
  top: 10px;
  font-size: 10px;
  left: 20px; }
header nav {
  float: right;
  margin-right: 30px;
  padding: 0;
  border: 0;
  position: relative; }
  header nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    header nav ul li {
      display: inline; }
      header nav ul li a {
        font-weight: bold;
        color: #a66100; }

#main h2 {
  font-family: Times New Roman, serif;
  font-size: 16;
  color: #a66100;
  margin-left: 0.5em; }

label {
  display: inline-block;
  width: 80px;
  text-align: right;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 4px;
  color: white; }

label.narrow-label {
  display: inline-block;
  width: 40px;
  text-align: right;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 4px;
  color: white; }

#action-in {
  width: 200px; }

#category-in {
  width: 200px; }

#quantity-in {
  width: 5em; }

#when-in {
  width: 5em; }

#when-text-in {
  float: left; }

#input-buttons {
  float: left;
  margin-top: 4px; }
  #input-buttons #today-button {
    display: inline;
    margin-left: 0.5em;
    margin-right: 0; }
  #input-buttons #yesterday-button {
    display: inline;
    margin-left: 1em; }

input#add {
  display: block;
  clear: both; }

div#list {
  border: 0;
  padding: 0;
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 5px; }

div.item-row {
  width: 480px;
  line-height: 24px; }

div.item-row:nth-child(odd) {
  background-color: #fff; }

div.item-row:nth-child(even) {
  background-color: #aaaaaa; }

.padded-col, .item-dt, .item-action, .item-category, .item-qty {
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 4px;
  display: inline-block; }

.item-dt {
  width: 60px; }

.item-action {
  width: 200px; }

.item-category {
  width: 100px; }

.item-qty {
  width: 60px; }

.update-on-enter {
  width: 100%; }

div#bottom footer {
  margin-top: 2em;
  font-size: 10px; }
