body {
	background-color: #aaa;
}

a {
	color: #FF9500;
}

div#content {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	line-height: 24px;
	background-color: #FFF;
	color: #000;
	margin: 10px;
}

header {
	background-color: #FF9500;
	height: 100px;
}

header h1 {
	font-family: Times New Roman, serif;
	font-size: 48px;
	line-height: 90px;
	color: #a66100;
	display: inline;
	margin-left: 0.5em;
}

header h2 {
	color: #fff;
}

nav {
	width: 100%;
	border-top: 4px solid #aaa;
	border-bottom: 2px solid #aaa;
	background-color: #aaa;
}

nav ul {
	border: 0;
	margin: 0;
	padding: 0;
}

nav ul li{
	padding: 0;
	margin: 0;
	border: 0;
	display: inline-block;
	width: 20%;
	text-align: center;
	list-style-type: none;
	background-color: #A66100;
}

nav ul li a{
	text-decoration: none;
}

li.current-page {
	background-color: #FF9500;
}

li.current-page a {
	color: #A66100;
}

img#logo {
	display: inline;
	width: 200px;
	height: 80px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

label {
	display: inline-block;
	width: 80px;
	text-align: right;
	border: 0;
	padding: 0;
	margin: 0;
	margin-right: 4px;
}

#action-in {
	width: 79%;
}

#category-in {
	width: 60%;
}

#quantity-in {
	width: 5em;
}

#units-in {
	width: 10em;
}

.default-button {
	background: #a66100 url(alert-overlay.png) repeat-x;
/*	float: right; */
	display: inline-block;
	margin-left: 100px;
/*	margin-right: 10%;	*/
	padding: 5px 10px 6px;
	color: #ff9500;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.default-button:hover {
	background-color: #ff9500;
	color: #a66100;
}

div#list {
	margin-top: 1em;
}

table, tbody, tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	border: 0;
	padding: 0;
	margin: 0;
	width: 80%;
	margin-left: 85px;
}

th {
	background-color: #ff9500;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffc573;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

}

th#th-action, td.td-action {
	width: 50%;
}

th#th-quantity, td.td-quantity {
	width: 5em;
}

th#th-timestamp, td.td-timestamp {
	width: 8em;
	}