body {text-align:center}
 h1{font-weight:bold;font-size:1.2em}
 p{color:#666;font-size:0.8em;line-height:1.6em;margin:10px 20px 20px 20px}
 img{margin-top:-10px}
 h2{color:#999;font-size:0.7em}
.blog p{color:#555;padding:20px 20px 0 20px;font-size:1em;line-height:1.4em}
.action-row {
	text-align: left;
}
.show-action{
	display: inline-block;
	width: 200px;
}
.show-category{
	display: inline-block;
	width: 150px;
}
.show-qty{
	display: inline-block;
	width: 100px;
}
.show-date{
	display: inline-block;
	width: 100px;
}

